<ion-header>
  <ion-toolbar>

    <!-- Boutton de retour pour revenir vers la page start -->

    <ion-buttons fill="clear" slot="start">
      <ion-back-button defaultHref="list">
        <ion-icon name="arrow-undo-circle"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">LISTE</ion-title>

    <!-- Bouttons pour ouvrir l'input ou le fermer  -->

    <ion-buttons slot="end">
      <ion-button *ngIf="isOpen === false" color="primary" (click)="isOpen = true">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isOpen === true" color="danger" (click)="isOpen = false">
        <ion-icon name="backspace"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: white">

  <!-- Si la list est égale a 0 alors liste vide s'affiche  -->

  <div class="empty" *ngIf="tasks.length === 0" class="ion-text-center" style="padding-top: 10%">
    <ion-label>LISTE VIDE</ion-label>
  </div>
  <div class="my-checkbox">

    <!-- La checkbox s'affiche que si il y a au moins 1 produit -->

    <ion-list class="ion-text-center" *ngIf="tasks.length > 0">
      <ion-list-header>
        <ion-label>MES PRODUITS</ion-label>
      </ion-list-header>

      <!-- Affiche ce qu'on renseigne dans l'input -->

      <ion-card class="tasks" *ngFor="let task of tasks; let i = index" class="ion-text-center">
        <ion-item>

          <!-- C'est une checkbox qui barre le text renseigné dans l'input si elle est cochée -->

          <ion-checkbox slot="end" style="color: #3880ff;" [checked]="task.isChecked " (ionChange)="onCheck($event, i)">
          </ion-checkbox>

          <!-- le text renseigné dans l'input  -->

          <h4 *ngIf="!task.isChecked" class="task-title" style="color: white">{{ task.content}}</h4>
          <h4 *ngIf="task.isChecked" class="task-title" style="color: #3880ff; text-decoration: line-through;">{{task.content }}</h4>

          <!-- Un menu déroulant pour saisir la quantité du produit qu'on souhaite -->

          <ion-select slot="end" interface="action-sheet" placeholder="QNT">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
          </ion-select>

          <!-- Un boutton qui permet de supprimer les produits qu'on souhaite supprimer  -->

          <ion-button slot="end" fill="clear" style="color: #3880ff" (click)="deleteTask(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>


      </ion-card>
    </ion-list>
  </div>
</ion-content>

<!-- si le boutton pour afficher l'input est isOpen = true alors l'input s'affiche  -->

<ion-footer *ngIf="isOpen">
  <ion-item>
    <ion-input [(ngModel)]="newTask" placeholder="Ajouter un produit"></ion-input>

    <!-- Boutton pour ajouter la saisie a la card -->

    <ion-button shape="round" (click)="addNewTask()" color="primary" [disabled]="newTask === ''">
      <ion-icon name="add"></ion-icon>Ajouter
    </ion-button>
  </ion-item>
</ion-footer>
